/* Estilo geral */
body {
    background-color: rgb(228, 184, 255);
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header estilizado */
header {
    background: linear-gradient(135deg, rgb(171, 72, 176), rgb(197, 42, 232));
    padding: 10px;
    color: white;
    display: flex;
    font-family:"Dancing Script", cursive;
    font-weight: 80px;
    font-style: normal;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.date {
    font-size: 50px;
}

/* Reduzindo o tamanho do contador */
.tick {
    padding: 15px;
    font-size: 30px; /* Ajuste conforme necessário */
}

/* Ajustando os números do contador */
.tick-group {
    font-size: 100px; /* Reduzindo o tamanho dos números */
    padding: 10px;
}

/* Ajustando os rótulos (dias, horas, minutos, segundos) */
.tick-label {
    font-size: 50px;
    font-family: "Loved by the King", cursive;
}

/* Texto do Header */
.header-content h1 {
    font-size: 80px;
    font-weight:100;
    font-family: "Dancing Script", cursive;
    margin: 0;
}

.header-content p {
    padding: 15px;
    font-size: 80px;
    margin: 5px 0;
}

/* Botões no Header */
.header-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* Botões gerais */
.btn {
    background-color: white;
    color: rgb(171, 72, 176);
    border: 2px solid rgb(171, 72, 176);
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(199, 102, 194);
    color: rgb(255, 255, 255);
}

/* Botão de confirmação */
.confirm {
    border-color: green;
    color: green;
}

.confirm:hover {
    background-color: green;
    color: white;
}

/* Container do convite */
.invite-container {
    display: none;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.invite-container p {
    font-size: 1.3em;
    color: rgb(171, 72, 176);
}
